<div class="container">
  <div class="row justify-content-center text-center">
    <div class="col-sm-12 col-md-6 col-lg-4">

      <h2>Renvoyer les instructions pour débloquer le compte</h2>

      <%= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <%= f.full_error :unlock_token %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Renvoyer", class: 'btn btn-flat' %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>
  </div>
</div>
