<div class="formulaire">
  <%= simple_form_for(current_user) do |f| %>
    <%= f.input :phone_number, :label => "Numéro de téléphone" %>
    <%= f.input :biography, :label => "Petite biographie", as: :text, input_html: {rows: 10, cols: 10}  %>
    <% if current_user.request %>
      <%= f.button :submit, "actualiser ma demande !", class: 'btn btn-flat' %>
    <% else %>
      <%= f.button :submit, "faire une demande !", class: 'btn btn-flat' %>
    <% end %>
  <% end %>
</div>
