<div class="container">
  <h1>Mes informations de réservation</h1>

  <h2>Veuillez compléter les information suivante pour pouvoir réserver une place chez nous. Nous vous contacterons dès
  qu'une place sera disponible et que ce sera votre tour.</h2>

  <div class="row justify-content-center text-center">
    <div class="col-4">

      <% if current_user.confirmed_at %>

      <%= simple_form_for(current_user) do |f| %>
        <%= f.input :phone_number, :label => "Numéro de téléphone" %>
        <%= f.input :biography, :label => "Petite biographie"  %>
        <% if current_user.request %>
          <%= f.button :submit, "actualiser ma demande !", class: 'btn-flat' %>
        <% else %>
          <%= f.button :submit, "faire une demande !", class: 'btn-flat'  %>
        <% end %>
      <% end %>

    </div>
  </div>

      <% else %>
        <p>Vous n'avez pas confirmé votre addresse mail. Cette opération est nécessaire avant de pouvoir vous inscrire.</p>
        <%= link_to "Renvoyez le mail de confirmation", new_user_confirmation_path, class: "btn btn-flat" %>
      <% end %>

</div>
